{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@ianvs/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^react",
        "^next",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@/components/(.*)$",
        "^@/layouts/(.*)$",
        "^@/pages/(.*)$",
        "^@/hooks/(.*)$",
        "^@/utils/(.*)$",
        "^@/types/(.*)$",
        "^@/styles/(.*)$",
        "^@/(.*)$",
        "",
        "^[./]"
    ],
    "importOrderParserPlugins": [
        "typescript",
        "jsx",
        "decorators-legacy"
    ]
}